@import "tailwindcss";
@plugin "@iconify/tailwind4";

/* 自定义颜色 */
@theme {
  --color-kanadeLight: #fff1f1;
  --color-kanadeDark: #030812;
  --color-kanadeBoxLight: #fff;
  --color-kanadeBoxDark: #1f2937;

  --color-subBoxLight: #ffe8eb;
  --color-subTextLight: #ff96a7;
  --color-subBoxDark: #264966;
  --color-subTextDark: #eff8ff;

  --font-Oxanium-Medium: "Oxanium-Medium", "ZaoZiGongFangYueYuan";
}

/* 启用基于 class 的 dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* 自定义字体 */
@font-face {
  font-family: "ZaoZiGongFangYueYuan";
  src: url("/fonts/ZaoZiGongFangYueYuan.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oxanium-Medium";
  src: url("/fonts/Oxanium-Medium.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "ZaoZiGongFangYueYuan";
  box-sizing: border-box;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* 隐藏原生滚动条 */
::-webkit-scrollbar {
  display: none;
}

