---
import LeftSideBar from '../components/home/LeftSideBar.vue';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div class="flex justify-center max-w-7xl">
        <LeftSideBar />
    </div>
</BaseLayout>